HELP.md

# === Build Output ===
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# === Maven Wrapper ===
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd

# === STS / Eclipse ===
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# === IntelliJ IDEA ===
.idea/
*.iws
*.iml
*.ipr

# === VS Code ===
.vscode/

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === Logs ===
*.log
logs/
**/logs/


# env files
*.env